# Node modules
node_modules/

# Build output
build/
dist/

# Local environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Testing
coverage/

# Optional: Dependency directories if using other package managers
.pnp/
.pnp.js

# Optional: MacOS
*.swp
